.profile-page {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  .profile-info-container,
  .friends-container {
    width: 50vw;
  }
  .side-flowers {
    width: 300px;
    position: absolute;
    left: 0px;
  }
}

@media (max-width: 768px) {
  .profile-page {
    display: block;
    .profile-info-container,
    .friends-container {
      width: 100vw;
    }
  }
}
